@import '../../../bower_components/normalize.styl/normalize.styl'
@import 'siteswap_icons.styl'

orangeColor = #ff8000
grayColor   = #474747
redColor    = #CF4646

body
	font-family: 'Sans Serif';
	font-size: 18px;
	margin: 0;
fieldset
	background: rgba(redColor, 0.2);
	padding .5em .2em
	margin .5em 0
	border solid 1px #c0c0c0
	border-radius 3px
form
	padding .3em
legend
	display block
	padding 0.3em 0.6em
	border-radius .4em
	text-transform capitalize
	border solid 1px #c0c0c0
	background white
header
	background redColor
	color white
	padding .5em
	box-shadow rgba(redColor, 0.2) 2px 2px 2px 2px
	.icon-logo
		vertical-align middle
		display inline-block
		font-size 50px
	h1
		display inline-block
		vertical-align middle
		margin 0
		padding-left .5em
		font-size 1.7em
		font-family: 'Shadows Into Light', cursive;
		

input {
	width: 64px;
}

.submit {
	border: none;
	background: transparent;
	box-shadow: none;
}

.submit input {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: .5em;
	font-size: 1.5em;
}

.hide {
	display: none;
}
#patterns
	overflow hidden
	ul
		margin 0
		padding 0
	li
		display inline-block
		list-style-type none
		padding .5em
		margin .5em
		border-radius 3px
		background rgba(redColor, 0.2)
#wrapper {
	margin-top: .5em;
}
